<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header"/>
<body>

<div th:replace="includes/navbar :: navbar"/>

<section id="team" class="team_member section-padding pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h1>Toto je náš tím!</h1>
                    <p>Náš tím sa aktuálne zaoberá viacfaktorovou autentifikáciou.</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                 data-wow-offset="0">
                <div class="our-team">
                    <div class="team_img">
                        <img src="https://scontent.fbts10-1.fna.fbcdn.net/v/t1.6435-9/50127095_2956320677726991_8941728233569648640_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=JsulFlksjZgAX9XK14I&_nc_ht=scontent.fbts10-1.fna&oh=00_AT--awrg7p6KaUyqbmMRb2pPXDowG5WlERtoZZ9F5gabLA&oe=61DF13F1"
                             alt="team-image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Dávid Zabák</h3>
                        <span class="post">Developer & Marketer</span>
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                 data-wow-offset="0">
                <div class="our-team">
                    <div class="team_img">
                        <img src="https://scontent.fbts10-1.fna.fbcdn.net/v/t31.18172-8/14859874_1220724131283569_6925619775189200049_o.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=6JHgqiS71ZEAX_PcRke&tn=CcPaNy-1ql8jyiBr&_nc_ht=scontent.fbts10-1.fna&oh=00_AT8sRbMw0xOU9kxaz9EODEiKgZSG4XB6PUiphq_re5UNXQ&oe=61E1003E"
                             alt="team-image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Martin Pač</h3>
                        <span class="post">Developer</span>
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="our-team">
                    <div class="team_img">
                        <img src="https://scontent.fbts10-1.fna.fbcdn.net/v/t1.6435-9/103844006_3733187540039264_8155223499092169128_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=-4JNrdjGRjkAX-jPo1p&tn=CcPaNy-1ql8jyiBr&_nc_ht=scontent.fbts10-1.fna&oh=00_AT_xIki5ANMjlZMeOjsxyujXomR_8dxKIEDv1AZHQr1vGA&oe=61DF1E61"
                             alt="team-image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/juraj-rak-001276120/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Juraj Rak</h3>
                        <span class="post">Developer</span>
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"
                 data-wow-offset="0">
                <div class="our-team">
                    <div class="team_img">
                        <img src="https://scontent.fbts10-1.fna.fbcdn.net/v/t1.18169-9/379484_107672619351631_651413906_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=de6eea&_nc_ohc=vzVRbh_a9gAAX_JtELr&_nc_ht=scontent.fbts10-1.fna&oh=00_AT8SdAokobG2dPEBU2TdNq3kdcEg9-V8j8VbX5TZN4eZlA&oe=61E00FF8"
                             alt="team-image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Jakub Rosina</h3>
                        <span class="post">Developer & Agile Coach</span>
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12">
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"
                 data-wow-offset="0">
                <div class="our-team">
                    <div class="team_img">
                        <img src="https://scontent.fbts10-1.fna.fbcdn.net/v/t31.18172-8/28238126_1878296768907540_7705952384229868631_o.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=zp9bmFvbJHYAX9Az5Y7&_nc_ht=scontent.fbts10-1.fna&oh=00_AT91j59CjyDo8K0CVJkgjWpyGMoNyLo-CsPTiC2Cd5VVBg&oe=61E14B74"
                             alt="team-image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/samuel-adler-2659a9121/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Samuel Adler</h3>
                        <span class="post">Developer & Agile Coach</span>
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"
                 data-wow-offset="0">
                <div class="our-team">
                    <div class="team_img">
                        <img src="https://scontent.fbts10-1.fna.fbcdn.net/v/t1.6435-9/69355856_2116605708444203_9131779595819810816_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=L2MKAqCt6NwAX8S6TI7&_nc_ht=scontent.fbts10-1.fna&oh=00_AT-VTP966Fkvmy0-xgOYfuYJZxNxeG4HOOV0asn7OrbYAQ&oe=61E08640"
                             alt="team-image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/filip-kad%C3%BAch-b51264144/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Filip Kadúch</h3>
                        <span class="post">Developer</span>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>