<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header" />
<body>

<div th:replace="includes/navbar :: navbar" />

<section class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                <div sec:authorize="isAuthenticated() && hasRole('ROLE_USER')">
                    <h1>You have logged successfully!</h1>
                    Welcome <span sec:authentication="principal.username"> User</span>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <h1>Please log in!</h1>
                    <p th:text="${ipaddr}"></p>
                    <p th:text="${bname}"></p>
                    <p th:text="${bversion}"></p>
                    <p th:text="${os}"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>